{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To do list

{% endblock %}


{% block content %}

    <section id="tasks">
        <table>
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Priority</th>
            <th scope="col">Completion</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{task.name}}</th>
                <td>{{task.priority}}</td>
                <td>
                {% if task.completion == 1 %} 
                    <p>Complete</p>
                {% elif task.completion == 0 %} 
                    <p>Incomplete</p>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>

{% endblock %}

